

* {
    box-sizing: border-box;
}

section {
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

h1 {
    text-align: center;
}

.general {
    width: 330px;
    background-color: grey;
    padding: 0px;
    border: 4px solid black;
    margin: 2px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

#subdiv1 {
    background-color: #00e5ff;
    border: 3px solid #00a0b2;
    padding: 7px 20px;
}
#subdiv2 {
    background-color: #9c27b0;
    border: 3px solid #6d1b7b;
    padding: 7px 20px;
}
#subdiv3 {
    background-color: #ffeb3b;
    border: 3px solid #b2a429;
    padding: 7px 20px;
}

p {
    flex: 1 1 auto;
    text-align: justify;
    padding: 0 25px;
    color:black;
    font-weight: 500;
    font-size: large;
}


/* Desktop devices */
@media (min-width: 992px) {

}

/* tablet devices */
@media (min-width: 768px) and (max-width: 991px){
    section {
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }

    .general {
        flex: 1 1 auto;
    }
}

/* Mobile devices */
@media (max-width: 767px) {
    section {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
}


/* end of the show! */